.section-clients {
  padding: 2.4rem 0;
  text-align: center;
}

.copy-long {
  font-size: 1.8rem;
}
.clients {
  margin-top: 2rem;
  font-size: 1.8rem;
  line-height: 2.4rem;
}
.client-text {
  margin-bottom: 7rem;
}

.clients img {
  clip-path: circle();
  height: 7rem;
}
/* *********************************** */
/* BELOW 700px 
/* *********************************** */
@media (max-width: 43.75em) {
  .section-clients .grid {
    column-gap: 0rem;
  }
}
/* *********************************** */
/* BELOW 600px 
/* *********************************** */
@media (max-width: 38.75em) {
  .section-clients .grid {
    display: block;
    text-align: center;
  }
  .client-text {
    margin-bottom: 0rem;
  }
  .clients {
    margin-top: 6.4rem;
  }
}
